@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --kumbh: "Kumbh Sans", sans-serif !important;
    --lora: "Lora", serif;
    --celeste: #d5dfed;
    --celeste-oscuro: #7996bc;
    --azul: #09101A;
    --azul-claro: #152031;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--kumbh);
    background-color: var(--azul);
    color: white;
    overflow-x: hidden;
}

main {
    font-family: var(--kumbh);
    width: 65vw;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
}

h3 {
    position: relative;
    display: inline-block;
    text-align: center;
}

h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -14px;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: var(--celeste-oscuro);
    border-radius: 4px;
}

h3,
h4 {
    margin: 3rem 0;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
}

#inicio h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3rem;
    width: 100%;
    flex-wrap: wrap;
}

#inicio h2 span {
    color: var(--celeste-oscuro);
    font-weight: 400;
    font-size: 2.2rem;
}

#inicio p {
    font-size: 1.3rem;
}

#inicio button {
    width: 12%;
    height: 48px;
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* ________________ MENU BAR ________________*/
.container-fluid {
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    z-index: 1;
}

.navbar-collapse {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: center;
    height: 4rem;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--celeste-oscuro);
}


.btn {
    color: white;
    background-color: var(--azul-claro);
}

.btn:hover {
    background-color: var(--celeste-oscuro);
}

main section:first-of-type {
    padding-top: 12rem;
}

section {
    display: flex;
    flex-direction: column;
}



/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* ________________ SOBRE MI ________________*/

#sobre-mi>div:first-of-type {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}

#sobre-mi img {
    width: 30%;
    border-radius: 6px;
}

.div-section-sobremi {
    margin: auto;
}

.habilidades-container {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}

.habilidades-container img {
    min-width: 60px;
}

.habilidades-container section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
}

.habilidades-container section:first-of-type {
    padding-top: 0;
}

.habilidades-container section div {
    text-align: center;
}

.habilidades-container section div h5 {
    margin-top: 0.5rem;
    color: var(--celeste-oscuro);
}


/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* ________________ SERVICIOS  ________________*/
#servicios>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#servicios article {
    background: var(--azul-claro);
    color: white;
    text-align: center;
    border: none;
    padding: 1.5rem 0;
}

#servicios article:hover {
    box-shadow: 1px 1px 20px 4px #222e3d5b;
}

#servicios article h5 {
    font-weight: 800;
    margin-bottom: 2rem;
    color: var(--celeste-oscuro);
}


/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* ________________ TRABAJOS  ________________*/
#trabajos {
    gap: 4rem;
}

#trabajos article {
    display: flex;
    gap: 2rem;
}

#trabajos article .div-article-img {
    min-width: 10vw;
    max-width: 10vw;
    min-height: 25vh;
    max-height: 25vh;
}

#trabajos .div-article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}

#trabajos article div.chips {
    display: flex;
    color: var(--azul);
    gap: 1rem;
    flex-wrap: wrap;
}

#trabajos article div.chip {
    display: flex;
    color: var(--celeste-oscuro);
    border: 1px solid var(--azul-claro);
    padding: 5px 10px;
    border-radius: 10px;
}





/* //////////////////////////////////////////////////////////////// */

/* Tablet horizontal */
@media (max-width: 1080px) {
    main {
        /* background-color: green; */
        width: 90vw;
    }

    section {
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }


    main section:first-of-type {
        padding-top: 4rem;
    }

    #inicio h2 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #inicio h2 span {
        color: var(--celeste-oscuro);
        font-weight: 400;
    }

    #inicio button {
        width: 24%;
    }

    .habilidades-container {
        width: 100%;
    }

    .habilidades-container section {
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .habilidades-container section div h5 {
        font-size: 1.1rem;
    }

    #servicios>div:first-of-type {
        justify-content: center;
    }

    #trabajos article .div-article-img {
        min-width: 25vw;
        max-width: 25vw;
        min-height: none;
        max-height: none;
    }
}



/* //////////////////////////////////////////////////////////////// */
/* Tablet vertical */
@media (max-width: 768px) {
    main {
        /* background-color: green; */
        width: 95vw;
    }

    #sobre-mi>div:first-of-type {
        flex-direction: column;
        gap: 2rem;
    }

    #sobre-mi img {
        width: 50%;
        align-self: center;
    }

    #inicio button {
        width: 24%;
    }

    .section-sobre-mi h4:first-of-type {
        text-align: center;
    }

    .habilidades-container section {
        flex-wrap: wrap;
    }

    .habilidades-container section div h5 {
        font-size: 1.1rem;
    }

    #trabajos article {
        flex-direction: column;
    }

    #trabajos article .div-article-img {
        min-width: 30vw;
        max-width: 30vw;
    }

    #trabajos article {
        gap: 1rem;
    }
}



/* //////////////////////////////////////////////////////////////// */
/* Mobile */
@media (max-width: 480px) {
    main {
        min-width: 100vw;
    }

    #sobre-mi img {
        width: 80%;
    }

    #inicio button {
        width: 40%;
    }

    .habilidades-container img {
        min-width: 45px;
        max-width: 45px;
    }

    .habilidades-container section {
        width: 100%;
        gap: 1rem;
    }

    .habilidades-container section div h5 {
        font-size: 0.9rem;
    }


}



/* //////////////////////////////////////////////////////////////// */
/* Mobile */
@media (max-width: 375px) {
    nav {
        margin-top: 1rem;
    }

    #sobre-mi img {
        width: 100%;
    }
}