@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --kumbh: "Kumbh Sans", sans-serif !important;
    --lora: "Lora", serif;
    --celeste: #d5dfed;
    --celeste-oscuro: #7996bc;
    --azul: #09101A;
    --azul-claro: #152031;
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--kumbh);
    background-color: var(--azul);
    color: white;
}

main {
    margin: 0 auto;
    font-family: var(--kumbh);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
}



/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* ________________ MENU BAR ________________*/
.container-fluid {
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    z-index: 1;
}

.navbar-collapse {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: center;
    height: 4rem;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--celeste-oscuro);
}


.btn {
    color: white;
    background-color: var(--azul-claro);
}

.btn:hover {
    background-color: var(--celeste-oscuro);
}


/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* ________________ SOBRE MI ________________*/
main section:first-of-type {
    padding-top: 12rem;
}



/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* ________________ SERVICIOS  ________________*/

